@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Define variáveis globais para cores e bordas, facilitando a manutenção e ajustes futuros. */
:root {
    --main-color: #da190f;
    --bg: #13131a;
    --bg-card: #0c0c14;
    --border: 0.1rem solid grey;
}

/* Remove margens, paddings e bordas padrões.
Define o comportamento de transição padrão para animações e utiliza a fonte Roboto.
A propriedade text-transform: capitalize garante que todas as palavras comecem com letra maiúscula. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    /*LETRAS MAISCULA*/
    transition: 0.2s linear;
    font-family: 'Roboto', 'sans-serif';
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    /*configuração do font-size para 62.5%, facilitando o uso do REM (1rem = 10px)*/
    overflow-x: hidden;


}

body {
    background: var(--bg);


}

header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%
        /*explicação do uso da porcentagem*/
    ;
    border-bottom: var(--border);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;



}

.logo img {
    height: 6.5rem;
    border-radius: 100%;
    /*tornar a logo circular*/

}

.ul-header {
    display: flex;
    gap: 15px;

}

.ul-header li a {
    color: #fff;
    font-size: 1.6rem;
}

.ul-header li a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    /*adiciona uma linha inferior no hover*/
    padding-bottom: 0.5rem;
    /*adiciona espaçamento infeiror no hover*/


}



.icons {
    /*NÃO ESTOU MEXENDO NOS ICONES, E SIM NA CAIXA, OK??*/
    display: flex;
    align-items: center;
    gap: 15px
}

.icons i {
    color: white;
    /*cor branca para icones*/
    cursor: pointer;
    /*alterar o cursor ao passar sobre o icone*/
    font-size: 2.5rem;
    /*tamanho do icone*/

}

.icons i:hover {
    color: var(--main-color);

}

#home {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 85vh;
    background: url(images/home.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: var(--border);


}

.content {
    max-width: 60rem;
    /*Tamanho da fonte*/
    position: relative;
    z-index: 2;

}

.content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;

}

.content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
}

/* #https://www.w3schools.com/sel_before.php */

#home::before {
    content: "";
    /*adiciona elemento vazio*/
    position: absolute;
    /*Permite posicionamento absoluto*/
    top: 0;
    /*alinha no topo*/
    left: 0;
    /*alinha á esquerda*/
    width: 100%;
    /*ocupa toda largura*/
    height: 100%;
    /*ocupa toda altura*/
    background: rgba(0, 0, 0, 0.5);
    /*adiciona sobreposição escura*/
    z-index: 1;
    /*posiciona abaixo o conteudo*/




}

section {
    padding: 2rem 7%;
    /*garante espaçamento interno das sessoes (responsividade)*/

}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    /*texto em caixa alta*/
    padding-bottom: 3rem;
    /*espaçamento inferior em relação ao titulo*/
    ;
    font-size: 4rem;
    /*40px*/
    ;


}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;


}

.btn {
    margin-top: 1rem;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    display: inline-block;


}

.btn:hover {
    letter-spacing: 0.2rem;
    /*Espaçamento entre as letras ao passar o mouse*/
}

.row {
    display: flex;
    align-items: center;
    background: var(--bg-card);
    flex-wrap: wrap;
    border: var(--border);

}

.row .image {

    flex: 1 1 45rem;
    /*Define o tamanho glexiviel do elemento: base 45rem, podendo crescer ou encolher, ou seja, faz com que possa ser adaptavel para telas grandes ou pequenas*/

}

.row .image img {

    width: 100%; /*Faz com que a imagem ocupe toda a largura do container (.image)*/
}

.row .content {
flex: 1 1 45rem; /*Define o tamanho flexivel do conteudo: base 45rem podera crescer ou diminuir*/
padding: 2rem; /*Adiciona o espaçamento interno ao redor do conteudo */
}

.row .content h3 {
font-size: 3rem; /*define o tamanho da fonte para o subtitulo*/
color: #fff; /*cor da letra*/


}

.row .content p {
font-size: 1.6rem; /*Define o tamanho da fonte para o paragrafo*/
color: #ccc;
padding: 1rem 0; /*adiciona espaçamento interno vertical ao texto e as laterais zeradas*/
line-height: 1.8rem; /*Define o espaçamento entre linhas do texto*/


}

.container {
display: grid; 
grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
gap: 1.5rem;



}
.container .box {
padding: 5rem;
text-align: center;
border: var(--border); /*aplicando uma bosta ao redor da caixa*/
background: var(--bg-card); /*Define a cor de fundo da caixa*/


}

.container .box img {
height: 18rem;
border-radius: 100%;


}

.container .box h2 {
color: #fff; /*apica a cor branca ao titulo*/
font-size: 2rem; /*Define o tamanho da fonte do titulo*/
padding: 1rem 0; /*adiciona espaçamento  vertical ao titulo*/
 
}

.container .box .price {

    color: #fff;  
    font-size: 2.5rem;
    padding: 0.5rem 0;
    

}

.container .box .price span {
font-size: 1.5rem;
text-decoration: line-through;
font-weight: lighter; /*Aplica u*/
}

.container .box:hover {
background: #fff;


}

.container .box:hover> {
color: black; /*altera cor dos elementos*/


}


.products .box-container {
    display: grid;  /*organiza os elementos em uma grid*/
grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));  /*cria colunas flexiveis com largura mínima de 30rem e maxima prporcional*/
gap: 1.5rem; /*define o espaçamento entre os itens da grade*/


}


.box-container .box {
text-align: center; 
border: var(--border);
padding: 2rem;



}


/*estilizando os icons*/
.icons a i {
height: 3rem; /*define a altura dos icones*/
width: 3rem; /*largura dos icones*/
line-height: 3rem; /*distancia dos conteudos/ altura da linha*/
font-size: 1.7rem;  /*define o tamanho da fonte para os icones*/
border: var(--border); /*aplica uma borda ao redor dos icones*/
color: #fff; /*define a cor branca para os icones*/
margin: 0.3rem; /*Adiciona espaçamento entre os icones*/
}

.icons a i:hover {
background: var(--main-color);


}

.box .image {
padding: 2.5rem 0; /*adiciona espaçamento vertical*/


}

.box .image img {
height: 25rem; /*altura das imagens*/


}


.box .content {
color: #fff;
font-size: 2.5rem;


}

.box .content .stars {
padding: 1.5rem;


}

.box .content .stars i {
font-size: 1.9rem; /*tamanho das estrelas*/
color: var(--main-color); /*aplica cor nas estrelas*/


}


.box .content .price {
color: #fff;
font-size: 2.5rem;


}

.box .content .price span {
font-weight: lighter;
font-size: 1.5rem;
text-transform: lowercase;


}